absl-py
accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anthropic
antlr4-python3-runtime
anyio
apache-tvm-ffi
astor
attrs
audioread
av
blake3
bitsandbytes
brotli
cachetools
cbor2
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
compressed-tensors
contourpy
cuda-bindings
cuda-pathfinder
cuda-python
cupy-cuda12x
cycler
dataproperty
datasets
decorator
deepspeed
depyf
dill
diskcache
distro
dnspython
docstring_parser
easydict
einops
email-validator
evaluate
fastapi
fastapi-cli
fastapi-cloud-cli
fastar
fastrlock
ffmpy
filelock
fire
flashinfer-python
fonttools
frozenlist
fsspec
gguf
gitdb
gitpython
gradio
gradio_client
groovy
h11
hf_transfer
hf-xet
hjson
httpcore
httptools
httpx
huggingface-hub
idna
interegular
jieba
jinja2
jiter
jmespath
joblib
jsonlines
jsonschema
jsonschema-specifications
kiwisolver
lark
lazy_loader
librosa
llguidance
llvmlite
lm_eval
lm-format-enforcer
loguru
lxml
markdown-it-py
markupsafe
matplotlib
mbstrdecoder
mdurl
mistral_common
model-hosting-container-standards
modelscope
more-itertools
mpmath
msgpack
msgspec
multidict
multiprocess
networkx
ninja
nltk
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cudnn-frontend
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-cutlass-dsl
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvshmem-cu12
nvidia-nvtx-cu12
omegaconf
openai
openai-harmony
opencv-python-headless
orjson
outlines_core
packaging
pandas
partial-json-parser
pathvalidate
peft
pillow
pip
platformdirs
pooch
portalocker
prometheus_client
prometheus-fastapi-instrumentator
propcache
protobuf
psutil
py-cpuinfo
pyarrow
pybase64
pycountry
pycparser
pydantic
pydantic_core
pydantic-extra-types
pydub
pygments
pyparsing
pytablewriter
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
pyyaml
pyzmq
ray
referencing
regex
requests
rich
rich-toolkit
rignore
rouge-chinese
rouge_score
rpds-py
ruff
sacrebleu
safehttpx
safetensors
scikit-learn
scipy
semantic-version
sentencepiece
sentry-sdk
setproctitle
setuptools
shellingham
shtab
six
smmap
sniffio
soundfile
soxr
sqlitedict
sse-starlette
starlette
supervisor
sympy
tabledata
tabulate
tcolorpy
termcolor
threadpoolctl
tiktoken
tokenizers
tomlkit
tqdm
transformers
triton
trl
typepy
typer
typer-slim
typing_extensions
typing-inspection
tyro
tzdata
urllib3
uvicorn
uvloop
wandb
watchfiles
websockets
wheel
word2number
xgrammar
xxhash
yarl
zstandard