# Experiment
run_name: gsm8k

# Model
model_name_or_path: /scratch365/tma2/.cache/halluc/models/llama-3.2-1b_gsm8k_sft
# model_name_or_path: meta-llama/Llama-3.2-1B
template: llama3
stage: sft
finetuning_type: lora

# Dataset
dataset: gsm8k_symbolic_bt_train
eval_dataset: null

# Evaluation
model: hf
tasks: gsm8k_bt

# WandB
wandb_project: llamafactory

# Constants
seed: 3
ddp: 1
hf_username: mtybilly


init_special_tokens: desc_init